<div class="layout">
    <aside class="layout_navigation">
        <nav>
            <ul>
                <li><a>The What?</a></li>
                <li><a>The Who?</a></li>
                <li><a>The Why?</a></li>
                <li><a>The How?</a></li>
            </ul>
        </nav>
    </aside>
    <main class="layout_content">
        <section>
            <div class="section_title">
                <h1 class="text-xlg font-bold">The What?</h1>
            </div>
            <div class="section_content">
                <app-voice-graph></app-voice-graph>
            </div>
        </section>

        <section>
            <div class="section_title">
                <h1 class="text-xlg font-bold">The Who?</h1>
            </div>
            <div class="section_content">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nam tempora magni hic sequi, ut voluptatem quidem, alias autem facilis cumque odio eum harum incidunt! Nam quod debitis voluptas repellat quas?</p>
            </div>
        </section>

        <section>
            <div class="section_title">
                <h1 class="text-xlg font-bold">The Why?</h1>
            </div>
            <div class="section_content">
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Distinctio aliquid voluptatem non harum ipsa amet, numquam reiciendis, reprehenderit sit quidem aspernatur labore fuga beatae libero ipsum aperiam neque, eum facere!</p>
            </div>
        </section>

        <section>
            <div class="section_title">
                <h1 class="text-xlg font-bold">The How?</h1>
            </div>
            <div class="section_content">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Alias rem deserunt quos modi esse neque tempore expedita molestiae ea totam labore ullam sunt voluptatibus ducimus quasi velit voluptatum, eveniet autem?</p>
            </div>
        </section>
    </main>
</div>