.layout {
    display: flex;
    margin: 1rem;
}

.navigation {
    position: sticky;
    top: 0;
    left: 0;
}

main {
    margin: 2rem 4rem;

    @media (max-width: 1024px) { 
        margin: 2rem;
    }
}

.hamburger-button,
.close-button {
    display: none;
    height: 2rem;
    width: 2rem;
    font-size: 2rem;
    position: absolute;
    top: 2rem;
    right: 2rem;

    @media (max-width: 1024px) { 
        display: block; 
    }
}

.close-button {
    z-index: 101;
    right: 4rem;
}

.layout-navigation {
    flex: none;
    max-width: 15rem;
    width: 100%;
    border-right: 1px solid gainsboro;

    @media (max-width: 1024px) { 
        display: none;
    }
}

.fixed-navigation {
    position: fixed;
    top: 0;
    left: 0;
    background: white;
    height: 100%;
    width: 100%;
    padding: 1rem;
    z-index: 100;

    .navigation {
        position: relative;
    }
}

.layout-content {
    flex: 1;
}

.section {
    &.section-spacing {
        margin-top: 3rem;
    }

    .section__content {
        margin: 1.5rem 0;

        .section__content__sub-heading {
            margin-top: 1rem;
            margin-bottom: 0.5rem;
        }
    }
}

.layout-navigation,
.navigation {
    padding: 1rem;
}

.navigation__list {
    padding: 1rem 0;
}

.navigation__item {
    text-transform: uppercase;
    padding: 0.75rem 0;
    font-size: 0.75rem;
    font-weight: bold;
    font-family: 'Ubuntu';
}

.ordered-list-heading {
    margin-top: 1rem;
    margin-bottom: 0.5rem;
}

.ordered-list {
    list-style: decimal;
    margin-left: 2rem;
}

.github-link {
    display: flex;
    align-items: center;

    span {
        margin-left: 0.5rem;
    }
}

.footer {
    margin-top: 3rem;

    .footer__text {
        text-align: center;
        font-size: 0.75rem;
    }
}