<div class="legend-container">
    <div class="legend">
        <div class="legend__item">
            <span class="legend__item__dot --positive"></span>
            <span class="legend__item__label">Positive Conversation</span>
        </div>
        <div class="legend__item">
            <span class="legend__item__dot --negative"></span>
            <span class="legend__item__label">Negative Conversation</span>
        </div>
        <div class="legend__item">
            <span class="legend__item__dot"></span>
            <span class="legend__item__label">Neutral Conversation</span>
        </div>
    </div>
</div>

<div class="bar-chart">
    <svg [attr.viewBox]="chartViewBox"
            [attr.height]="chartHeight"
            [attr.width]="chartWidth"
            class="agent-chart">

        <ng-container *ngFor="let datum of data.agent; index as i">
            <circle *ngIf="datum.keywords?.length >= 1"
                    class="keyword-dot"
                    [attr.cx]="i * (barWidth + barMargin) + (barWidth / 2)"
                    [attr.cy]="dotRadius + (chartHeight - (datum.value * 80) - 50)"
                    [attr.r]="dotRadius"
                    stroke-width="3"
                    [attr.fill]="datum.color" />
        </ng-container>

        <rect *ngFor="let datum of data.agent; index as i"
                (click)="onClick(datum, i)"
                class="bar agent"
                [attr.fill]="datum.color"
                [attr.x]="i * (barWidth + barMargin)"
                [attr.y]="chartHeight - (datum.value * 80)"
                [attr.height]="datum.value * 100"
                [attr.width]="barWidth">
        </rect>
    </svg>

    <div class="chart-divider"
        [ngStyle]="{width: chartWidth + 'px' }">
    </div>

    <svg [attr.viewBox]="chartViewBox"
            [attr.height]="chartHeight"
            [attr.width]="chartWidth">

        <rect *ngFor="let datum of data.customer; index as i"
                class="bar customer"
                (click)="onClick(datum, i)"
                [attr.fill]="datum.color"
                [attr.x]="i * (barWidth + barMargin)"
                [attr.y]="0"
                [attr.height]="datum.value * 80"
                [attr.width]="barWidth">
        </rect>

        <ng-container *ngFor="let datum of data.customer; index as i">
            <circle *ngIf="datum.keywords?.length >= 1"
                    class="keyword-dot"
                    [attr.cx]="i * (barWidth + barMargin) + (barWidth / 2)"
                    [attr.cy]="datum.value * 80 + 50"
                    [attr.r]="dotRadius"
                    stroke-width="3"
                    [attr.fill]="datum.color" />
        </ng-container>
    </svg>
</div>