.bar-chart {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 1rem 0 0 0;
    margin-bottom: 1rem;
    border-bottom: 1px solid gainsboro;
    overflow: auto;
}

.agent-chart {
    margin-bottom: -2px;
}

.chart-divider {
    background-color: gainsboro;
    height: 2px;
    margin: 4px 0;
}

.legend-container {
    display: flex;
    justify-content: flex-end;
}

.legend {
    margin-right: 1rem;
    margin-bottom: 2rem;
    
    .legend__item__dot {
        height: 0.5rem;
        width: 0.5rem;
        background-color: #c6c6c6;

        &.--positive { background-color: #87c03f;}
        &.--negative { background-color: #e04a1d;}
    }

    .legend__item__label {
        font-size: 0.563rem;
    }
}