@import 'button';
@import 'reset';
@import 'typography';

body {
    font-family: 'Open Sans', sans-serif;
    color: rgb(107,114,128);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Ubuntu', sans-serif;
    color: rgb(17, 24, 39);
}