@import 'reset';
@import 'typography';
@import 'legend';
@import 'layout';

:root {
    --primary-color-1: #0891B2;
    --primary-color-2: #0E7490;
    --primary-accent-1: #06B6D4;

    --foreground-color: white;
    --background-color: white;

    --font-color: rgb(107,114,128);
    --font-heading-color: rgb(17, 24, 39);
    --font-heading: 'Ubuntu', sans-serif;
    --font-body: 'Open Sans', sans-serif;

    --size-xxl: 2rem;
    --size-xl: 1.5rem;
    --size-lg: 1.125rem;
    --size-base: 1rem;
    --size-md: 0.87rem;
    --size-sm: 0.75rem;
    --size-xsm: 0.69rem;
    --size-xxsm: 0.56rem;
}

body {
    font-family: var(--font-body);
    color: var(--font-color);
    line-height: 1.5;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: var(--font-heading);
    color: var(--font-heading-color);
    font-weight: bold;
}