.text-xxlg   { font-size: var(--size-xxl) !important; }
.text-xlg    { font-size: var(--size-xl) !important; }
.text-lg     { font-size: var(--size-lg) !important; }
.text-base   { font-size: var(--size-base) !important; }
.text-md     { font-size: var(--size-md) !important; }
.text-sm     { font-size: var(--size-sm) !important; }
.text-xsm    { font-size: var(--size-xsm) !important; }
.text-xxsm   { font-size: var(--size-xxsm) !important; }

.font-hairline { font-weight: 300; }