.text-xxlg   { font-size: 2rem !important; }
.text-xlg    { font-size: 1.5rem !important; }
.text-lg     { font-size: 1.125rem !important; }
.text-base   { font-size: 1rem !important; }
.text-md     { font-size: 0.87rem !important; }
.text-sm     { font-size: 0.75rem !important; }
.text-xsm    { font-size: 0.69rem !important; }
.text-xxsm   { font-size: 0.56rem !important; }

.font-hairline { font-weight: 300; }